/*media query 768px*/
/*media query 768px*/
/*media query 768px*/
/*media query 768px*/
@media (min-width: 768px) {
  body {
    width: 100%;
    font-family: Helvetica;
  }

  i {
    color: black;
  }

  p {
    font-size: 15px;
  }

  span {
    font-size: 15px;
  }

  a {
    text-decoration: none;
    color: black;
    height: 170px;
  }

  nav a {
    height: auto;
  }

  footer {
    display: flex;
    justify-content: space-around;
    background-color: #f7f7f7;
    width: 100%;
  }

  .navbar {
    width: 400px;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .homeLink {
    color: #000000;
  }

  .profilePic {
    height: auto;
    width: 308px;
    border-radius: 3px;
  }

  .projectImg {
    height: 160px;
    width: auto;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
  }

  .imgContactResume {
    display: flex;
    justify-content: center;
    margin: 60px;
  }

  .header {
    font-size: 46px;
  }

  .jobDesc {
    font-size: 60px;
  }

  .header-bg {
    background-image: url("https://images.unsplash.com/photo-1483653085484-eb63c9f02547?auto=format&fit=crop&w=2100&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-border {
    display: flex;
    background-color: #ffffff;
    margin-left: 198px;
    margin-right: 198px;
    padding-bottom: 29px;
    padding-top: 1px;
    width: 650px;
    border-radius: 3px;
  }

  .header-greeting {
    display: flex;
    margin-right: 0px;
    margin-top: 50px;
    width: 290px;
    margin-bottom: 50px;
    -ms-flex-align: center;
    align-items: center;
  }

  .greeting {
    font-size: 33px;
  }

  .nameTitle {
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-size: 25px;
  }

  .icons {
    display: flex;
  }

  .githubDiv {
    margin: 3px;
    margin-right: 10px;
  }

  .linkedInDiv {
    margin: 3px;
  }

  .twitterDiv {
    margin: 3px;
    margin-right: 10px;
  }

  .instaDiv {
    margin: 3px;
    margin-right: 10px;
  }

  .aboutTransform {
    margin-left: 20px;
    font-size: 32px;
  }

  .backTransform {
    margin-left: 20px;
    font-size: 32px;
  }

  .homeTitle {
    margin-left: 20px;
    font-size: 32px;
  }

  .projectTitle {
    margin-left: 20px;
    font-size: 32px;
  }

  .projectName {
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .codeWrapper1 {
    display: flex;
    margin: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 3px;
  }

  .codeWrapper {
    display: flex;
    margin: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 3px;
  }

  .aboutContentWrapper {
    margin: 50px;
  }

  .paragraphSpacing {
    margin: 50px;
  }

  .titleWrapper {
    width: 770px;
    display: flex;
    justify-content: space-around;
    margin: 25px;
    align-items: center;
  }

  .titleSkillsWrapper {
    margin: 100px;
  }

  .resumeMargin {
    margin-left: 35px;
  }

  .aboutFont {
    margin: 0px;
    font-size: 25px;
    color: #ff5c4c;
    font-weight: lighter;
  }

  .bodyWrapper {
    margin: 80px;
    background-color: #e0e0e0;
    border-radius: 3px;
    padding: 20px;
  }

  .projectName {
    font-size: 25px;
    color: #ff5c4c;
  }

  .projectBodyWrapper {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 80px;
    background-color: #e0e0e0;
    border-radius: 3px;
    padding: 20px;
  }

  .bigSkillsWrapper {
    margin: 50px;
  }

  .projectDesc {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-left: 40px;
  }

  .skillsTable {
    display: flex;
    justify-content: space-around;
    width: auto;
  }

  .languages {
    margin-bottom: 25px;
  }

  .frameworks {
    margin-bottom: 25px;
  }

  .design {
    margin-bottom: 25px;
  }

  .noSql {
    margin-bottom: 70px;
  }

  .versionCtrl {
    margin-bottom: 26px;
  }

  .serverSide {
    margin-bottom: 25px;
  }

  .skillstitle {
    font-size: 25px;
    color: #b5b4b4;
    font-weight: lighter;
  }

  .skills-td {
    font-size: 20px;
  }

  .landingPageImg {
    background-image: url("https://images.unsplash.com/photo-1435253325575-18dd01bad23a?auto=format&fit=crop&w=2250&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
    background-size: cover;
    height: 100vh;
    width: 100%;
  }

  .header-desingDev {
    font-size: 46px;
  }

  .landingPage-name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: white;
    height: 800px;
    font-size: 93px;
  }

  .smallTitle {
    color: white;
    font-weight: lighter;
    margin: 0;
    display: flex;
    justify-content: center;
    margin-top: -310px;
    font-size: 21px;
  }

  .zoePhoto {
    height: 20vh;
    width: auto;
    margin: 50px;
  }

  .photosWrapper {
    width: 100%;
  }

  .photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .photosTable {
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 120px;
    background-color: #232323;
    padding: 80px;
    padding-left: 90px;
    border-radius: 3px;
  }

  .photography-title {
    font-size: 46px;
  }

  .photoTitle {
    color: white;
    font-weight: lighter;
    font-size: 25px;
  }
}

/*media query 1024px*/
/*media query 1024px*/
/*media query 1024px*/
/*media query 1024px*/
@media (min-width: 1024px) {
  body {
    width: 100%;
    font-family: Helvetica;
  }

  i {
    color: black;
  }

  p {
    font-size: 18px;
  }

  span {
    font-size: 18px;
  }

  a {
    text-decoration: none;
    color: black;
  }

  footer {
    display: flex;
    justify-content: space-around;
    background-color: #f7f7f7;
    width: 100%;
  }

  .navbar {
    width: 400px;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .homeLink {
    color: #000000;
  }

  .profilePic {
    height: auto;
    width: 358px;
    border-radius: 3px;
  }

  .projectImg {
    height: 210px;
    width: auto;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
  }

  .imgContactResume {
    display: flex;
    justify-content: center;
    margin: 60px;
  }

  .header {
    font-size: 50px;
  }

  .jobDesc {
    font-size: 60px;
  }

  .header-bg {
    background-image: url("https://images.unsplash.com/photo-1483653085484-eb63c9f02547?auto=format&fit=crop&w=2100&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-border {
    display: flex;
    background-color: #ffffff;
    margin-left: 198px;
    margin-right: 198px;
    padding-bottom: 1px;
    padding-top: 1px;
    border-radius: 3px;
  }

  .header-greeting {
    display: flex;
    margin-right: 0px;
    margin-top: 50px;
    width: 290px;
    margin-bottom: 50px;
    -ms-flex-align: center;
    align-items: center;
  }

  .greeting {
    font-size: 39px;
  }

  .nameTitle {
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-size: 25px;
  }

  .icons {
    display: flex;
  }

  .githubDiv {
    margin: 3px;
    margin-right: 10px;
  }

  .linkedInDiv {
    margin: 3px;
  }

  .twitterDiv {
    margin: 3px;
    margin-right: 10px;
  }

  .instaDiv {
    margin: 3px;
    margin-right: 10px;
  }

  .aboutTransform {
    margin-left: 20px;
    font-size: 34px;
  }

  .backTransform {
    margin-left: 20px;
    font-size: 34px;
  }

  .homeTitle {
    margin-left: 20px;
    font-size: 34px;
  }

  .projectTitle {
    margin-left: 20px;
    font-size: 34px;
  }

  .projectName {
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .codeWrapper1 {
    display: flex;
    margin: 50px;
    background-color: white;
    padding: 20px;
    border-radius: 3px;
  }

  .codeWrapper {
    display: flex;
    margin: 50px;
    background-color: white;
    padding: 20px;
    border-radius: 3px;
  }

  .aboutContentWrapper {
    margin: 50px;
  }

  .paragraphSpacing {
    margin: 50px;
  }

  .titleWrapper {
    width: 770px;
    display: flex;
    justify-content: space-around;
    margin: 25px;
    align-items: center;
  }

  .titleSkillsWrapper {
    margin: 100px;
  }

  .resumeMargin {
    margin-left: 35px;
  }

  .aboutFont {
    margin: 0px;
    font-size: 25px;
    color: #ff5c4c;
    font-weight: lighter;
  }

  .bodyWrapper {
    margin: 80px;
    background-color: #e0e0e0;
    border-radius: 3px;
    padding: 20px;
  }

  .projectName {
    font-size: 25px;
    color: #ff5c4c;
  }

  .projectBodyWrapper {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 80px;
    background-color: #e0e0e0;
    border-radius: 3px;
    padding: 20px;
  }

  .bigSkillsWrapper {
    margin: 50px;
  }

  .projectDesc {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    margin-left: 40px;
  }

  .skillsTable {
    display: flex;
    justify-content: space-around;
    width: auto;
  }

  .languages {
    margin-bottom: 25px;
  }

  .frameworks {
    margin-bottom: 25px;
  }

  .design {
    margin-bottom: 25px;
  }

  .noSql {
    margin-bottom: 70px;
  }

  .versionCtrl {
    margin-bottom: 26px;
  }

  .serverSide {
    margin-bottom: 25px;
  }

  .skillstitle {
    font-size: 25px;
    color: #b5b4b4;
    font-weight: lighter;
  }

  .skills-td {
    font-size: 20px;
  }

  .landingPageImg {
    background-image: url("https://images.unsplash.com/photo-1435253325575-18dd01bad23a?auto=format&fit=crop&w=2250&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
    background-size: cover;
    height: 100vh;
    width: 100%;
  }

  .header-desingDev {
    font-size: 50px;
  }

  .landingPage-name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: white;
    height: 800px;
    font-size: 113px;
  }

  .smallTitle {
    color: white;
    font-weight: lighter;
    margin: 0;
    display: flex;
    justify-content: center;
    margin-top: -310px;
    font-size: 25px;
  }

  .zoePhoto {
    height: 20vh;
    width: auto;
    margin: 50px;
  }

  .photosWrapper {
    width: 100%;
  }

  .photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .photosTable {
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 120px;
    background-color: #232323;
    padding: 80px;
    padding-left: 150px;
    border-radius: 3px;
  }

  .photography-title {
    font-size: 50px;
  }

  .photoTitle {
    color: white;
    font-weight: lighter;
    font-size: 25px;
  }
}

/*media query 1223px*/
/*media query 1223px*/
/*media query 1223px*/
/*media query 1223px*/
@media (min-width: 1223px) {
  body {
    width: 100%;
    font-family: Helvetica;
  }

  i {
    color: black;
  }

  p {
    font-size: 20px;
  }

  span {
    font-size: 20px;
  }

  a {
    text-decoration: none;
    color: black;
  }

  footer {
    display: flex;
    justify-content: space-around;
    background-color: #f7f7f7;
    width: 100%;
  }

  .navbar {
    width: 400px;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .homeLink {
    color: #000000;
  }

  .profilePic {
    height: auto;
    width: 418px;
    border-radius: 3px;
  }

  .projectImg {
    height: 250px;
    width: auto;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
  }

  .imgContactResume {
    display: flex;
    justify-content: center;
    margin: 60px;
  }

  .header {
    font-size: 60px;
  }

  .jobDesc {
    font-size: 60px;
  }

  .header-bg {
    background-image: url("https://images.unsplash.com/photo-1483653085484-eb63c9f02547?auto=format&fit=crop&w=2100&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
    background-size: cover;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-border {
    display: flex;
    background-color: #ffffff;
    margin-left: 198px;
    margin-right: 198px;
    padding-bottom: 1px;
    padding-top: 1px;
    border-radius: 3px;
  }

  .header-greeting {
    display: flex;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
  }

  .greeting {
    font-size: 39px;
  }

  .nameTitle {
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-size: 25px;
  }

  .icons {
    display: flex;
  }

  .githubDiv {
    margin: 3px;
    margin-right: 10px;
  }

  .linkedInDiv {
    margin: 3px;
  }

  .twitterDiv {
    margin: 3px;
    margin-right: 10px;
  }

  .instaDiv {
    margin: 3px;
    margin-right: 10px;
  }

  .aboutTransform {
    margin-left: 20px;
    font-size: 34px;
  }

  .backTransform {
    margin-left: 20px;
    font-size: 34px;
  }

  .homeTitle {
    margin-left: 20px;
    font-size: 34px;
  }

  .projectTitle {
    margin-left: 20px;
    font-size: 34px;
  }

  .projectName {
    font-weight: normal;
  }

  .codeWrapper1 {
    display: flex;
    margin: 50px;
    background-color: white;
    padding: 30px;
    border-radius: 3px;
  }

  .codeWrapper {
    display: flex;
    margin: 50px;
    background-color: white;
    padding: 30px;
    border-radius: 3px;
  }

  .aboutContentWrapper {
    margin: 50px;
  }

  .paragraphSpacing {
    margin: 50px;
  }

  .titleWrapper {
    width: 770px;
    display: flex;
    justify-content: space-around;
    margin: 25px;
    align-items: center;
  }

  .titleSkillsWrapper {
    margin: 100px;
  }

  .resumeMargin {
    margin-left: 35px;
  }

  .aboutFont {
    margin: 0px;
    font-size: 25px;
    color: #ff5c4c;
    font-weight: lighter;
  }

  .bodyWrapper {
    margin: 80px;
    background-color: #e0e0e0;
    border-radius: 3px;
    padding: 20px;
  }

  .projectName {
    font-size: 27px;
    color: #ff5c4c;
  }

  .projectBodyWrapper {
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 80px;
    background-color: #e0e0e0;
    border-radius: 3px;
    padding: 20px;
  }

  .bigSkillsWrapper {
    margin: 50px;
  }

  .projectDesc {
    display: flex;
    flex-direction: column;
    margin: 40px;
  }

  .skillsTable {
    display: flex;
    justify-content: space-around;
    width: auto;
  }

  .languages {
    margin-bottom: 25px;
  }

  .frameworks {
    margin-bottom: 25px;
  }

  .design {
    margin-bottom: 25px;
  }

  .noSql {
    margin-bottom: 70px;
  }

  .versionCtrl {
    margin-bottom: 26px;
  }

  .serverSide {
    margin-bottom: 25px;
  }

  .skillstitle {
    font-size: 25px;
    color: #b5b4b4;
    font-weight: lighter;
  }

  .skills-td {
    font-size: 20px;
  }

  .landingPageImg {
    background-image: url("https://images.unsplash.com/photo-1435253325575-18dd01bad23a?auto=format&fit=crop&w=2250&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
    background-size: cover;
    height: 100vh;
    width: 100%;
  }

  .header-desingDev {
    font-size: 60px;
  }

  .landingPage-name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: white;
    height: 800px;
    font-size: 143px;
  }

  .smallTitle {
    color: white;
    font-weight: lighter;
    margin: 0;
    display: flex;
    justify-content: center;
    margin-top: -310px;
    font-size: 32px;
  }

  .zoePhoto {
    height: 40vh;
    width: auto;
    margin: 50px;
  }

  .photosWrapper {
    width: 100%;
  }

  .photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .photosTable {
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 120px;
    background-color: #232323;
    padding: 80px;
    padding-left: 150px;
    border-radius: 3px;
  }

  .photography-title {
    font-size: 60px;
  }

  .photoTitle {
    color: white;
    font-weight: lighter;
  }
}

/*media query 1321px*/
/*media query 1321px*/
/*media query 1321px*/
/*media query 1321px*/
@media (min-width: 1321px) {
  body {
    width: 100%;
    font-family: Helvetica;
  }

  i {
    color: black;
  }

  p {
    font-size: 20px;
  }

  span {
    font-size: 20px;
  }

  a {
    text-decoration: none;
    color: black;
  }

  footer {
    display: flex;
    justify-content: space-around;
    background-color: #f7f7f7;
    width: 100%;
  }

  .navbar {
    width: 400px;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .homeLink {
    color: #000000;
  }

  .profilePic {
    height: auto;
    width: 478px;
    border-radius: 3px;
  }

  .projectImg {
    height: 260px;
    width: auto;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
  }

  .imgContactResume {
    display: flex;
    justify-content: center;
    margin: 60px;
  }

  .header {
    font-size: 60px;
  }

  .jobDesc {
    font-size: 60px;
  }

  .header-bg {
    background-image: url("https://images.unsplash.com/photo-1483653085484-eb63c9f02547?auto=format&fit=crop&w=2100&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
    background-size: cover;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-border {
    display: flex;
    background-color: #ffffff;
    margin-left: 198px;
    margin-right: 198px;
    padding-bottom: 1px;
    padding-top: 1px;
    border-radius: 3px;
  }

  .header-greeting {
    display: flex;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
  }

  .greeting {
    font-size: 48px;
  }

  .nameTitle {
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-size: 25px;
  }

  .icons {
    display: flex;
  }

  .githubDiv {
    margin: 3px;
    margin-right: 10px;
  }

  .linkedInDiv {
    margin: 3px;
  }

  .twitterDiv {
    margin: 3px;
    margin-right: 10px;
  }

  .instaDiv {
    margin: 3px;
    margin-right: 10px;
  }

  .aboutTransform {
    margin-left: 20px;
    font-size: 34px;
  }

  .backTransform {
    margin-left: 20px;
    font-size: 34px;
  }

  .homeTitle {
    margin-left: 20px;
    font-size: 34px;
  }

  .projectTitle {
    margin-left: 20px;
    font-size: 34px;
  }

  .projectName {
    font-weight: normal;
  }

  .codeWrapper1 {
    display: flex;
    margin: 50px;
    background-color: white;
    padding: 30px;
    border-radius: 3px;
  }

  .codeWrapper {
    display: flex;
    margin: 50px;
    background-color: white;
    padding: 30px;
    border-radius: 3px;
  }

  .aboutContentWrapper {
    margin: 50px;
  }

  .paragraphSpacing {
    margin: 50px;
  }

  .titleWrapper {
    width: 770px;
    display: flex;
    justify-content: space-around;
    margin: 25px;
    align-items: center;
  }

  .titleSkillsWrapper {
    margin: 100px;
  }

  .resumeMargin {
    margin-left: 35px;
  }

  .aboutFont {
    margin: 0px;
    font-size: 25px;
    color: #ff5c4c;
    font-weight: lighter;
  }

  .bodyWrapper {
    margin: 80px;
    background-color: #e0e0e0;
    border-radius: 3px;
    padding: 20px;
  }

  .projectName {
    font-size: 27px;
    color: #ff5c4c;
  }

  .projectBodyWrapper {
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 80px;
    background-color: #e0e0e0;
    border-radius: 3px;
    padding: 20px;
  }

  .bigSkillsWrapper {
    margin: 50px;
  }

  .projectDesc {
    display: flex;
    flex-direction: column;
    margin: 40px;
  }

  .skillsTable {
    display: flex;
    justify-content: space-around;
    width: auto;
  }

  .languages {
    margin-bottom: 25px;
  }

  .frameworks {
    margin-bottom: 25px;
  }

  .design {
    margin-bottom: 25px;
  }

  .noSql {
    margin-bottom: 70px;
  }

  .versionCtrl {
    margin-bottom: 26px;
  }

  .serverSide {
    margin-bottom: 25px;
  }

  .skillstitle {
    font-size: 25px;
    color: #b5b4b4;
    font-weight: lighter;
  }

  .skills-td {
    font-size: 20px;
  }

  .landingPageImg {
    background-image: url("https://images.unsplash.com/photo-1435253325575-18dd01bad23a?auto=format&fit=crop&w=2250&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
    background-size: cover;
    height: 100vh;
    width: 100%;
  }

  .header-desingDev {
    font-size: 60px;
  }

  .landingPage-name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: white;
    height: 800px;
    font-size: 143px;
  }

  .smallTitle {
    color: white;
    font-weight: lighter;
    margin: 0;
    display: flex;
    justify-content: center;
    margin-top: -310px;
    font-size: 32px;
  }

  .zoePhoto {
    height: 40vh;
    width: auto;
    margin: 50px;
  }

  .photosWrapper {
    width: 100%;
  }

  .photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .photosTable {
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 120px;
    background-color: #232323;
    padding: 80px;
    padding-left: 200px;
    border-radius: 3px;
  }

  .photography-title {
    font-size: 60px;
  }

  .photoTitle {
    color: white;
    font-weight: lighter;
  }
}

/*media query 1430px*/
/*media query 1430px*/
/*media query 1430px*/
/*media query 1430px*/
@media (min-width: 1430px) {
  body {
    width: 100%;
    font-family: Helvetica;
  }

  i {
    color: black;
  }

  p {
    font-size: 20px;
  }

  span {
    font-size: 20px;
  }

  a {
    text-decoration: none;
    color: black;
  }

  footer {
    display: flex;
    justify-content: space-around;
    background-color: #f7f7f7;
    width: 100%;
  }

  .navbar {
    width: 400px;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .homeLink {
    color: #000000;
  }

  .profilePic {
    height: auto;
    width: 588px;
    border-radius: 3px;
  }

  .projectImg {
    height: 270px;
    width: auto;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
  }

  .imgContactResume {
    display: flex;
    justify-content: center;
    margin: 60px;
  }

  .header {
    font-size: 60px;
  }

  .jobDesc {
    font-size: 60px;
  }

  .header-bg {
    background-image: url("https://images.unsplash.com/photo-1483653085484-eb63c9f02547?auto=format&fit=crop&w=2100&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
    background-size: cover;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-border {
    display: flex;
    background-color: #ffffff;
    margin-left: 198px;
    margin-right: 198px;
    padding-bottom: 1px;
    padding-top: 1px;
    border-radius: 3px;
  }

  .header-greeting {
    display: flex;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
  }

  .greeting {
    font-size: 50px;
  }

  .nameTitle {
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-size: 25px;
  }

  .icons {
    display: flex;
  }

  .githubDiv {
    margin: 3px;
    margin-right: 10px;
  }

  .linkedInDiv {
    margin: 3px;
  }

  .twitterDiv {
    margin: 3px;
    margin-right: 10px;
  }

  .instaDiv {
    margin: 3px;
    margin-right: 10px;
  }

  .aboutTransform {
    margin-left: 20px;
    font-size: 34px;
  }

  .backTransform {
    margin-left: 20px;
    font-size: 34px;
  }

  .homeTitle {
    margin-left: 20px;
    font-size: 34px;
  }

  .projectTitle {
    margin-left: 20px;
    font-size: 34px;
  }

  .projectName {
    font-weight: normal;
  }

  .codeWrapper1 {
    display: flex;
    margin: 50px;
    background-color: white;
    padding: 30px;
    border-radius: 3px;
  }

  .codeWrapper {
    display: flex;
    margin: 50px;
    background-color: white;
    padding: 30px;
    border-radius: 3px;
  }

  .aboutContentWrapper {
    margin: 50px;
  }

  .paragraphSpacing {
    margin: 50px;
  }

  .titleWrapper {
    width: 770px;
    display: flex;
    justify-content: space-around;
    margin: 25px;
    align-items: center;
  }

  .titleSkillsWrapper {
    margin: 100px;
  }

  .resumeMargin {
    margin-left: 35px;
  }

  .aboutFont {
    margin: 0px;
    font-size: 25px;
    color: #ff5c4c;
    font-weight: lighter;
  }

  .bodyWrapper {
    margin: 80px;
    background-color: #e0e0e0;
    border-radius: 3px;
    padding: 20px;
  }

  .projectName {
    font-size: 27px;
    color: #ff5c4c;
  }

  .projectBodyWrapper {
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 80px;
    background-color: #e0e0e0;
    border-radius: 3px;
    padding: 20px;
  }

  .bigSkillsWrapper {
    margin: 50px;
  }

  .projectDesc {
    display: flex;
    flex-direction: column;
    margin: 40px;
  }

  .skillsTable {
    display: flex;
    justify-content: space-around;
    width: auto;
  }

  .languages {
    margin-bottom: 25px;
  }

  .frameworks {
    margin-bottom: 25px;
  }

  .design {
    margin-bottom: 25px;
  }

  .noSql {
    margin-bottom: 70px;
  }

  .versionCtrl {
    margin-bottom: 26px;
  }

  .serverSide {
    margin-bottom: 25px;
  }

  .skillstitle {
    font-size: 25px;
    color: #b5b4b4;
    font-weight: lighter;
  }

  .skills-td {
    font-size: 20px;
  }

  .landingPageImg {
    background-image: url("https://images.unsplash.com/photo-1435253325575-18dd01bad23a?auto=format&fit=crop&w=2250&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
    background-size: cover;
    height: 100vh;
    width: 100%;
  }

  .header-desingDev {
    font-size: 60px;
  }

  .landingPage-name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: white;
    height: 800px;
    font-size: 143px;
  }

  .smallTitle {
    color: white;
    font-weight: lighter;
    margin: 0;
    display: flex;
    justify-content: center;
    margin-top: -310px;
    font-size: 32px;
  }

  .zoePhoto {
    height: 40vh;
    width: auto;
    margin: 50px;
  }

  .photosWrapper {
    width: 100%;
  }

  .photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .photosTable {
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 120px;
    background-color: #232323;
    padding: 20px;
    padding-left: 40px;
    border-radius: 3px;
  }

  .photography-title {
    font-size: 60px;
  }

  .photoTitle {
    color: white;
    font-weight: lighter;
  }
}
