nav {
  display: flex;
  justify-content: space-around;
  background-color: #f34f4f;
  padding: 20px;
  font-size: 30px;
  width: 90;
}

nav a.active {
  color: #ecf0f1;
}

a {
  color: #231f1f;
}

.homeLink:hover {
  color: #2980b9;
}

.imgBlog {
  height: 350px;
  width: auto;
  border-radius: 3px;
}

.imgBlog:hover {
  transform: scale(1.01, 1.01);
  box-shadow: 3px 3px 5px #888888;
}

.imgThreads {
  height: 350px;
  width: auto;
  border-radius: 3px;
}

.imgThreads:hover {
  transform: scale(1.01, 1.01);
  box-shadow: 3px 3px 5px #888888;
}

.imgHeadShot {
  height: 300px;
  width: auto;
}

.homeImg {
  height: 92vh;
  background-image: url("https://images.unsplash.com/photo-1454165205744-3b78555e5572?dpr=1&auto=compress,format&fit=crop&w=2550&h=&q=80&cs=tinysrgb&crop=");
  background-size: cover;
  opacity: 0.95;
}

.name {
  margin: 0;
  display: flex;
  justify-content: center;
  padding-top: 250px;
  padding-bottom: 100px;
  color: #ecf0f1;
  font-size: 60px;
}

.form {
  display: flex;
  justify-content: center;
  padding-top: 120px;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1505312763706-d42a3b9755b1?dpr=1&auto=compress,format&fit=crop&w=2801&h=&q=80&cs=tinysrgb&crop=");
  background-size: cover;
  height: 85vh;
}

.forminput {
  margin: 5px;
}

.contactText {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  font-size: 23px;
}

.formSmWrapper {
  border-radius: 3px;
  padding-top: 50px;
  padding-bottom: 100px;
  padding-left: 300px;
  padding-right: 300px;
  background-color: white;
}

.formFlex {
  display: flex;
  justify-content: flex-start;
  width: 600px;
}

.navBar {
  text-decoration: none;
}

.codeWrapper {
  display: flex;
  justify-content: space-around;
  margin: 40px;
}

.projectDesc {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  width: 700px;
}

.projectName {
  border-bottom: 1px solid #b9b9b9;
  width: 120px;
  padding-bottom: 10px;
  margin-bottom: 0;
  width: 100%;
}

.codeParagrah {
  margin-top: 0;
}

.projectTitle {
  border-bottom: 3px solid #b9b9b9;
  width: 132px;
  padding-bottom: 10px;
  margin-left: 78px;
}

.homeTitle {
  border-bottom: 3px solid #b9b9b9;
  padding-bottom: 10px;
}

.bodyWrapper {
}
